/*
    DEMO STYLE
*/
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";


body {
    font-family: 'Poppins', sans-serif;
    background: #fff;
    padding-right: 0 !important
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #a6a6a6;
    margin: 40px 0;
}

/* ---------------------------------------------------
    NAVBAR STYLE
----------------------------------------------------- */
.navbar-fixed-top{
	margin-bottom:0px;
	padding-bottom:0px;
	border-radius:0px;
}
/* ---------------------------------------------------
    STICKYBAR STYLE
----------------------------------------------------- */
#stickybar {
  overflow: hidden;
  background-color: #333;
  width:100%;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
.navbar-fixed-left {
	margin-top:15px;
	padding-top:40px;
	width: 220px;
	position: fixed;
	border-radius: 0;
	border:0px;
	height: 100%;
	background:#fff;
	overflow-y:auto;
	overflow-x:hidden:
}

a:active{
	color: red;
}

.navbar-fixed-left .navbar-nav > li {
	text-align:center;
	float: none;
	width: 220px;
	margin-top:5px;
}

.navbar-fixed-left .navbar-nav > li > a {
	padding-top:5px;
	padding-bottom:5px;
	color: #000000;
	font-size:16px;
	width: 220px;
}

.navbar-fixed-left .navbar-nav > li > a:visited{
	color: #000000;
}

.navbar-fixed-left .navbar-nav > li > a:hover {
	color: #fff;
	background:#404040;
}

.navbar-fixed-left > #ctg{
	margin-bottom:2px;
	padding-left:20px;
	text-align:left;
	color:#cc0000;
	background-color: #f1f1f1;

}


.navbar-fixed-left + .container {
  padding-left: 160px;
}


/* ---------------------------------------------------
    SIDENAV SCROLLBAR STYLE
----------------------------------------------------- */

.navbar-fixed-left::-webkit-scrollbar {
    width: 8px;
}
 
.navbar-fixed-left::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
 
.navbar-fixed-left::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(255,0,0,0.8); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

.navbar-fixed-left::-webkit-scrollbar-thumb:window-inactive {
	background: #cc0000; 
}




/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
#content {
    margin: 0px 10px 10px 270px;
	padding-top:90px;
	padding-left:50px;
	background:#fff;
    min-height: 100vh;
    transition: all 0.3s;
}

#content img{
	border:solid 4px;
	border-style:outset;
	text-align:center;
	max-width: 300px;
}

.post-tag{
	color: #09f;
    font-weight: 700;
}

.post-tag a{
	margin: 5px;
}

.post-tag a:hover{
	color: #09c5ff;
    font-weight: 900c;
	background:#fff;
}

.user{
	font-size:17px;
	color:red;
}
/* ---------------------------------------------------
    IMAGE CONTAINER STYLE
----------------------------------------------------- */
.img-container header{
	font-size:40px;
}

/* ---------------------------------------------------
    FOOTER STYLE
----------------------------------------------------- */

footer {
	margin-left:220px;
	padding:20px 50px 0px 50px;
	color:#fff;
	border-top:1px solid #ccc;
}

footer p {
	color:#666;
	margin:0;
	font-size:11px;
	width:50%;
	font-family: 'Poppins', sans-serif;
    font-weight: 300;
    line-height: 1.7em;
}
footer p.left { float:left; text-align:left; }
footer p.right { float:right; text-align:right; }
footer p a {
	color:#666;
	font-weight:bold;
	text-decoration:none;
	border-bottom:1px solid #999;
}
footer p a:hover { color:#0C3A85; border-bottom-color: #0C3A85; }

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
@media (max-width: 768px) {
	
	.navbar-fixed-left > #ctg{
		padding-left:8px; 
		text-align:left;
		color:#cc0000;

	}

    .navbar-fixed-left {
        width:130px;
    }
	
	.navbar-fixed-left .navbar-nav > li{
		text-align:center;
		float: none;
		width: 130px;
	}
	
	.navbar-fixed-left .navbar-nav > li > a {
		font-size:12px;
		width: 130px;
	}
	
	.navbar-fixed-left::-webkit-scrollbar-thumb {
		display: none; 
	}
	
	.navbar-fixed-left::-webkit-scrollbar {
		width: 0px;
	}
	
	#content {
		margin: 0px 10px 10px 100px;
		padding-top:60px;
		background:#fff;
		min-height: 100vh;
		transition: all 0.3s;
	}
	
	footer {
		margin-left:130px;
		padding:0px;
		color:#fff;
		border-top:1px solid #ccc;
	}
}
