/*
    DEMO STYLE
*/
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";


body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
    padding-right: 0 !important
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}



.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/* ---------------------------------------------------
    NAVBAR STYLE
----------------------------------------------------- */
.navbar-fixed-top{
	margin-bottom:0px;
	padding-bottom:0px;
	border-radius:0px;
}
/* ---------------------------------------------------
    STICKYBAR STYLE
----------------------------------------------------- */
#stickybar {
  overflow: hidden;
  background-color: #333;
  width:100%;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
.navbar-fixed-left {
	margin-top:20px;
	padding-top:40px;
	width: 220px;
	position: fixed;
	border-radius: 0;
	border:0px;
	height: 100%;
	background:#fff;
}

.navbar-fixed-left .navbar-nav > li {
	text-align:center;
	padding-left:50px;
	float: none;
	width: 220px;
}

.navbar-fixed-left .navbar-nav > li > a {
  color: #000000;
  font-size:16px;
}

.navbar-fixed-left .navbar-nav > li > a:hover {
  color: #fff;
  background:#404040;
}

.navbar-fixed-left + .container {
  padding-left: 160px;
}




/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
#content {
    margin: 0px 10px 10px 270px;
	padding-top:90px;
	background:#fff;
    min-height: 100vh;
    transition: all 0.3s;
}

#content img{
	border:solid 10px;
	border-style:outset;
	text-align:center;
}

/* ---------------------------------------------------
    CONTAINER STYLE
----------------------------------------------------- */
.img-container header{
	font-size:40px;
}

.img-container .user{
	color:red;
}


/* ---------------------------------------------------
    FOOTER STYLE
----------------------------------------------------- */

footer {
	margin-left:220px;
	padding:20px 50px 0px 50px;
	color:#fff;
	border-top:1px solid #ccc;
}

footer p {
	color:#666;
	margin:0;
	font-size:11px;
	width:50%;
}
footer p.left { float:left; text-align:left; }
footer p.right { float:right; text-align:right; }
footer p a {
	color:#666;
	font-weight:bold;
	text-decoration:none;
	border-bottom:1px solid #999;
}
footer p a:hover { color:#0C3A85; border-bottom-color: #0C3A85; }

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
@media (max-width: 768px) {
    .navbar-fixed-left {
        margin-left: -250px;
    }
	
	#content {
    margin: 0px 10px 10px 10px;
	padding-top:60px;
	background:#fff;
    min-height: 100vh;
    transition: all 0.3s;
	}
}
